body{
    background-color: rgb(0, 110, 255);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: url("assets/wallpaper.jpg");
    background-size: cover;
}

img{
    width: 620px;
    border-radius: 50px;
}